{% extends 'base.html.twig' %}

{% block title 'Agence Immo' %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Liste de tous les biens</h1>
    <p>Pull in Bootstrap’s source files into nearly any project with some of the most popular package managers. No matter the package</p>

    {# Pagination #}
    <div class="center">
        <div class="pagination">
            <a class="{% if page == 1 %}disabled{% endif %}" href="{{ path('property.index', {'page': page - 1}) }}"> « </a>

            {% for i in 1..pages %}
            <a class="page-item {% if page == i %}active{% endif %}" href="{{ path('property.index', {'page': i}) }}">{{ i }}</a>

            {% endfor %}
            <a class="page-item {% if page == pages %}disabled{% endif %}" href="{{ path('property.index', {'page': page + 1}) }}"> » </a>
        </div>
    </div>

</div>

<div class="container">
    <h2>Liste de tous les biens</h2>
    <div class="row flex">
    {% for property in properties %}
        <div class="col-3">
            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                    </h5>
                    <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                    {# <div class="text-primary">{{ property.price | number_format(0, '',' ' )}} €</div> #} {# Méthode 1 #}
                    <div class="text-primary">{{ property.formattedPrice }} €</div> {# Méthode 2. On a créé formattedPrice est dans Property.php #}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}